body{
  background : goldenrod;
}

#burgerimg{
  height: 300px;
  width: 300px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  width:400px;
  margin-bottom: 5px;
  margin-right: 200px
}

h2 {
  color: red
}

#headercont{
margin-left: 600px;
}

.devouredlist{
  background: red
}

#devouredlist{
  background: red
}
